.AddReminder {
    display: flex;
    flex-direction: row;
    background-color: #f5f6fa;
    width: 100%;
}

.OptionsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

.OptionsContainer > * {
    margin-top: 0.8rem;
    margin-right: 0.8rem;
}

.OptionsContainer > *:last-child {
    margin-right: 0;
}

.MessageContainer {
    width: 100%;
}

.InputContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    padding: 0.8rem;
}

.ButtonContainer {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.AddReminderButton {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #4cd137;
    fill: white;
    width: 100%;
    height: 100%;
}

.AddReminderButton:focus,
.AddReminderButton:hover {
}