@media screen and (max-width: 350px) {
    .Title {
        font-size: 2rem;
    }

    .Subtitle {
        font-size: 1.5rem;
    }

    .Subtitle2 {
        font-size: 1.2rem;
    }

    .Body2 {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 767px) {
    .Title {
        font-size: 3rem;
    }

}

@media screen and (min-width: 768px){
    .Title {
        font-size: 3rem;
    }

    .Subtitle {
        font-size: 2rem;
    }

    .Subtitle2 {
        font-size: 1.5rem;
    }

    .Body2 {
        font-size: 0.8rem;
    }
}
.Body {
    font-size: 1rem;
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.5;
    margin: 0;
}

.Body2 {
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.5;
    margin: 0;
}

.Subtitle {
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.5;
    margin: 0;
}

.Subtitle2 {
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.5;
    margin: 0;
}

.Title {
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.5;
    margin: 0;
}

