.RemindMeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: #273c75;
}

.RemindMe {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Instructions {
    display: flex;
    flex-direction: column;
}

.AllowNotificationsButton {
    padding: 1rem;
    width: 12rem;
    align-self: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}