.CountdownTimer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.CountdownTimer p {
    margin-bottom: 0;
    font-weight: 700;
}

.TimeContainer {
    display: flex;
    flex-direction: row;
}