.Reminder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f5f6fa;
    padding: 1rem;
}

.ReminderMessage {
    width: 50%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.ReminderTimer {
    padding-left: 0.5rem;
    flex: 0 0 auto;
}