.NumberPicker {
    flex-grow: 1;
    flex-shrink: 3;
    min-width: 0;
}

.AddButton {
    padding: 0.3rem;
    fill: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MinusButton {
    padding: 0.3rem;
    fill: white;
    display: flex;
    justify-content: center;
    align-items: center;
}